body{
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    margin-bottom: -100px;
    color: black;
    font-size: 20px;
}

.mainContainer{
    align-items: content;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    background-color: rgb(65, 62, 62);
    border-radius: 10px;
    width: 500px;
    height: 700px;
    justify-content: center;
}

.container{
    padding-bottom: 0;
    height: 200px;
    display: block;
}

#ansContainer{
    background-color: aliceblue;
    width: 430px;
    height: 80px;
    margin: 20px;
    margin-left: 33px;
    border-radius: 10px;
    display: flex;
    justify-content: baseline;
    overflow-x: auto;    
}

#ansContainer h1{
    margin: 10px;
    font-size: 40px;
}

.numContainer{
    width: 500px;
    height: 700px;
}

.row1{
    display: flex;
    justify-content: space-evenly;
}

#clear{
    background-color: rgb(34, 29, 29);
    color: aliceblue;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px 30px;
}
#blank1{
    border: 1px solid gray;
    background-color: rgb(34, 29, 29);
    color: aliceblue;
    border-radius: 10px;
    padding: 20px 30px;
}
#blank2{
    border: 1px solid gray;
    background-color: rgb(34, 29, 29);
    color: aliceblue;
    border-radius: 10px;
    padding: 20px 30px;
}
#divide{
    border: 1px solid gray;
    background-color: rgb(34, 29, 29);
    color: aliceblue;
    border-radius: 10px;
    padding: 20px 35px;
}

.row2{
    display: flex;
    justify-content: space-evenly;
}
#seven{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px 30px;
}
#eight{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px 30px;
}
#nine{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px 30px;
}
#times{
    background-color: rgb(34, 29, 29);
    color: aliceblue;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px 30px;
}

.row3{
    display: flex;
    justify-content: space-evenly;
}
#four{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px 30px;
    margin-left: -5px;
}
#five{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px 30px;
    margin-left: -3px;
}
#six{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px 30px;
    margin-left: -1px;
}
#minus{
    background-color: rgb(34, 29, 29);
    color: aliceblue;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px 33px;
}

.row4{
    display: flex;
    justify-content: space-evenly;
}
#one{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px 30px;
}
#two{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px 30px;
}
#three{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px 30px;
}
#plus{
    background-color: rgb(34, 29, 29);
    color: aliceblue;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px 30px;
}

.row5{
    display: flex;
    justify-content: space-evenly;
}
#zero{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px 30px;
    margin-left: 115px;
}
#dot{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px 30px;
}
#equals{
    background-color: rgb(34, 29, 29);
    color: aliceblue;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px 30px;
}
h2{
    color: aliceblue;
}
h2:hover{
    background-color: rgb(20, 16, 16);
    cursor: pointer;
}
#clear:hover{
    background-color: black;
}
#blank1:hover{
    background-color: black;
}
#blank2:hover{
    background-color: black;
}
#divide:hover{
    background-color: black;
}
#times:hover{
    background-color: black;
}
#minus:hover{
    background-color: black;
}
#plus:hover{
    background-color: black;
}
#equals:hover{
    background-color: black;
}